#body {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#calcbody {
    display: flex;
    flex-direction: column;
    border-style: black;
    border: solid;
    border-radius: 1%;
    width: 800px;
    height: auto;
    background-color: silver;
    align-items: center;
}

#display {
    display: flex;
    justify-content: center;
    background-color: beige;
    border-style: black;
    border: solid;
    align-items: center;
    height: 100px;
    width: 600px;
}

.button {
    border-style: solid;
    border: solid, black;
    height: auto;
    width:auto;
    display: flex;
    flex-direction: row;
    background-color: aqua;
    width: 80px;
    justify-content: center;
}

#buttondiv {
    background-color: salmon;
    justify-content: space-around;
    height: auto;
    width: auto;
    display: flex;
    flex-direction: row;
    width: 326px;
}

#numbersdiv {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: salmon;
    border-style: solid;
    border: solid, black;
    flex-wrap: wrap;
    width: 300px;
    margin: 20px;
    padding: 10px;
}

.number {
    display: flex;
    justify-content: center;
    border-style: solid;
    border: solid, black;
    width: 60px;
    margin: 5px;
    background-color: aqua;
}

#calculate {
    justify-content: center;
}

#clear {
    display: flex;
    justify-content: center;
    border-style: solid;
    border: solid, black;
    background-color: red;
    margin: 5px;
    width: 80px
}

.calcbutton{
    border-style: solid;
    border: solid, black;
    height: auto;
    width:auto;
    display: flex;
    flex-direction: row;
    background-color: aqua;
    margin: 5px;
    width: 600px;
}